.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
}
.img-priview{
    width: 300px;
    height: 200px;
    border:2px solid #000;
    box-shadow: 10px 10px 5px #888888;
    background: url("http://www.breakingcyclesja.com/images/avatar.png");
}
#img-upload{
    width:100%;
    height: 100%;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}